.editor-link-node {
    color: #10b981;
    cursor: pointer;
    font-family: monospace;
}

.editor-link-node:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.editor-mention-node {
    color: rgb(6, 78, 59);
    background-color: #10b981;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
