<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../public/myprofile.css">
</head>
<body>
    <div class="wrapper">
        <div class="profile-grid">
            <div class="profile-grid-row_1-grid" style="background-color: rgb(242, 255, 216); margin-bottom: 5px;">
                <div class="profile-grid-row_1-grid-col_1"><span class="uni">Uni</span><span class="link">Link</span></div>
                <div class="profile-grid-row_1-grid-col_2">
                    <a href="rick"><center>Currently Supported Universities</center></a>
                    <center>No Ads! No business!! Just people!!!</center>
                </div>
            </div>
            <div class="profile-grid-row_2-grid">
                <div class="profile-grid-row_2-grid-col_1-grid">
                    <div class="profile-grid-row_2-grid-col_1-grid-row_1">
                        <img src="../public/profile.png" class="profile-image">
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_2">
                        <!-- <button class="btn-friends">Be Friends! &#x1F44D;</button> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_3">
                        <!-- <button class="btn-text">Text em!</button> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_4">
                        <!-- <textarea class="input-anon"  placeholder="Type something to send anonymously...(Don't forget to be nice :D)" maxlength="500"></textarea> -->
                    </div>
                    <div class="profile-grid-row_2-grid-col_1-grid-row_5">
                        <button class="btn-sendanon">Edit profile</button>
                    </div>
                </div>
                <div class="profile-grid-row_2-grid-col_2-grid">
                    <!-- <div>Username: deneth.official</div>
                    <div>Name: Deneth Priyadarshana</div>
                    <div>University: University of Moratuwa</div>
                    <div>Majors: BSc Engineering Hons</div>
                    <div>Batch: 23rd</div>
                    <div>Last updated: date</div>
                    <div>Username: deneth.official</div>
                    <div>Name: Deneth Priyadarshana</div>
                    <div>University: University of Moratuwa</div>
                    <div>Majors: BSc Engineering Hons</div>
                    <div>Batch: 23rd</div>
                    <div>Last updated: date</div>
                    <div>Username: deneth.official</div>
                    <div>Name: Deneth Priyadarshana</div>
                    <div>University: University of Moratuwa</div>
                    <div>Majors: BSc Engineering Hons</div>
                    <div>Batch: 23rd</div>
                    <div>Last updated: date</div>
                    <div>Username: deneth.official</div>
                    <div>Name: Deneth Priyadarshana</div>
                    <div>University: University of Moratuwa</div>
                    <div>Majors: BSc Engineering Hons</div>
                    <div>Batch: 23rd</div>
                    <div>Last updated: date</div> -->

                    <div class="profile-grid-row_2-grid-col_2-grid-row1-grid">
                        <div class="profile-grid-row_2-grid-col_2-grid-row1-grid-col1">
                            <b>Your connection with random_user:</b>
                            <br>
                            You are friends with random_user!
                            <br>
                            [additional details about connection]
                        </div>
                        <div class="profile-grid-row_2-grid-col_2-grid-row1-grid-col2">
                            <b>Basic Info:</b><br>
                            <table>
                                <tr><td>Name:</td><td>data</td></tr>
                                <tr><td>Age:</td><td>data</td></tr>
                                <tr><td>University:</td><td>data</td></tr>
                                <tr><td>major/majors:</td><td>data</td></tr>
                                <tr><td>intake:</td><td>data</td></tr>
                                <tr><td>relationship status:</td><td>data</td></tr>
                                <tr><td>Sex:</td><td>data</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="profile-grid-row_2-grid-col_2-grid-row2-grid">
                        <div class="profile-grid-row_2-grid-col_2-grid-row2-grid-col1">
                            <b>Account Info:</b><br>
                            <table>
                                <tr><td>username:</td><td>data</td></tr>
                                <tr><td>Member since:</td><td>data</td></tr>
                                <tr><td>Last online:</td><td>data</td></tr>
                            </table>
                        </div>
                        <div class="profile-grid-row_2-grid-col_2-grid-row2-grid-col2">
                            <b>Additional Info:</b><br>
                            <table>
                                <tr><td>Contact no:</td><td>data</td></tr>
                                <tr><td>email:</td><td>data</td></tr>
                                <tr><td>website:</td><td>data</td></tr>
                                <tr><td>interested in:</td><td>data</td></tr>
                                <tr><td>date of birth:</td><td>data</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-grid-row_3" style="background-color: rgba(100, 152, 225, 0.989); color: white; margin-top: 5px;">
                <span class="copyright">&#169; 2024 '4,', Inc.</span> 
                <span class="dot">&#183;</span>
                <span class="contact">Contact</span> 
                <span class="dot">&#183;</span>
                <span class="privacy">Privacy Policy</span> 
                <span class="dot">&#183;</span>
                <span class="terms">Terms & Conditions</span> 
                <br><br>
                <span class="slogan">A 4, production</span>
            </div>
        </div>
    </div>
</body>
</html>