.editor-link-node {
    color: #10b981;
    cursor: pointer;
    font-family: monospace;
}

.editor-link-node:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.editor-mention-node {
    opacity: 0.7;
    color: black;
    background-color: rgba(16, 185, 129);
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}
