body {
    background-color: rgb(214, 244, 234);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

a:hover {
    text-decoration: none; /* Remove hover underline */
    color: inherit; /* Inherit color from parent element */
}

a:focus {
    outline: none; /* Remove focus outline */
}

.header{
    display: grid; 
    grid-template-columns: 1fr 200px;
}
.logo {
    font-family: Sedan;
    font-size: 40px;
}
.uni {
    color: rgb(121, 208, 121);
}
.link {
    color: rgb(0, 112, 37);
}
.pagehits {
    font-family: Roboto Mono;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: flex-end; /* Center content vertically */
    margin-bottom: 7px;
}

.input {
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    width: 96vw;
    resize: none;
}

.input:focus {
    outline: none;
}

.post-card {
    display: grid;
    grid-template-columns: 1fr 180px;

    width: 100%;

    background-color: rgb(178, 242, 178);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    font-family: Happy Monkey;

    transition: box-shadow 0.3s;

    border-radius: 2px;
}

.content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    
    border-right: dotted 2px;
    
}

.title {
    overflow: hidden; 
    word-wrap: break-word;
    cursor: pointer;
}

.stats {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; */

    align-items: center;

    margin-left: 3px;

    color: blue;
}

.post-card:hover {
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.footer{
    text-align: center;
    font-family: Roboto Mono;
}


.error-msg {
    font-family: Roboto Mono;
    font-size: 10px;
    color: red;
    background-color: rgb(255, 188, 188);
    display: inline-flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: solid 1.3px;
    border-color: red;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author {
    font-size: 12px;
    color: blue;
}

.author-a:hover {
    color: orange;
}

.btn {
    background-color: white;
    color: black;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-family: Roboto Mono;
}

.btn:hover {
    border: solid 2px;
    cursor: pointer;
}

.btn:hover::after {
    content: ' Sure???';
}