

.post-grid {
    display: grid;
    grid-template-rows: 50px calc(97vh - 120px) 70px;
    height: 9vh;
}
.post-grid-row_1-grid {
    display: grid; 
    grid-template-columns: auto 1fr; 
}
.post-grid-row_1-grid-col_1 {
    font-family: Sedan;
    font-size: 40px;
}
.post-grid-row_1-grid-col_2 {
    text-align: right;
    font-family: Roboto Mono;
}
.uni {
    color: rgb(121, 208, 121);
}
.link {
    color: rgb(0, 112, 37);
}

.post-grid-row_2-grid {
    display: grid;
    grid-template-columns:  3fr 1fr;
}

.post-grid-row_2-grid-col_1-grid {
    height: calc(97vh - 120px);
}

.post-grid-row_2-grid-col_1-grid-row_1 {
    height: 20%;
}

.post-grid-row_2-grid-col_1-grid-row_2 {
    height: 75%;
    overflow-y: auto;
}


.post-grid-row_2-grid-col_2 {
    display: flex;
    justify-content: right;
    margin-left: 10px;
}

.nav-card {
    height: 100%;
    width: 100%;
    background-color: rgb(203, 218, 147);

}

.nav-item {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid white;
    padding-left: 5px;
    font-family: Sedan;
    color: white;

    transition: box-shadow 0.2s;
}
.nav-item:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.post-grid-row_3 {
    text-align: center;
    font-family: Roboto Mono;
}


body {
    background-color: rgb(214, 244, 234);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

a:hover {
    text-decoration: none; /* Remove hover underline */
    color: inherit; /* Inherit color from parent element */
}

a:focus {
    outline: none; /* Remove focus outline */
}

.pagehits {
    font-family: Roboto Mono;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center content horizontally */
    align-items: flex-end; /* Center content vertically */
    margin-bottom: 7px;
}

.input {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    resize: none;
}

.input:focus {
    outline: none;
}

.post-card {
    display: grid;
    grid-template-columns: 1fr 180px;

    width: 100%;

    background-color: rgb(178, 242, 178);
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    font-family: Happy Monkey;

    transition: box-shadow 0.3s;

    border-radius: 2px;
}

.content {
    display: grid;
    grid-template-rows: 3fr 1fr;
    
    border-right: dotted 2px;
    
}

.title {
    overflow: hidden; 
    word-wrap: break-word;
    cursor: pointer;
}

.stats {
    /* display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; */

    align-items: center;

    margin-left: 3px;

    color: blue;
}

.post-card:hover {
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0); */
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.footer{
    text-align: center;
    font-family: Roboto Mono;
}


.error-msg {
    font-family: Roboto Mono;
    font-size: 10px;
    color: red;
    background-color: rgb(255, 188, 188);
    display: inline-flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: solid 1.3px;
    border-color: red;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author {
    font-size: 12px;
    color: blue;
}

.author-a:hover {
    color: orange;
}

.btn {
    background-color: white;
    color: black;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-family: Roboto Mono;
}

.btn:hover {
    border: solid 2px;
    cursor: pointer;
}

.btn:hover::after {
    content: ' Sure???';
}

.dot{
    color: green;
}

.contact, .privacy, .terms {
    color: black;
}

.slogan {
    margin-top: 20px;
    font-family: Roboto Mono;
    text-align: center;
}