/* .container-btn-submit {
    display: flex;
    justify-content: center;            
} */
.container-login {
    font-family: Roboto Mono;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh; /* Adjust as needed */
}

.signup {
    font-family: Sedan;
    font-size: 29px;
    /* color: rgb(10, 54, 65); */
    color: rgb(0, 112, 37);
}

.btn-submit{
    width: 81%;
    height: 40px;

    color: rgb(118, 255, 177);

    border-radius: 5px;
    background-color: #2ed36b1a;

    border: none;
    cursor: pointer;

    font-family: Roboto Mono;
    font-weight: 500;
    font-size: 15px;

    transition: box-shadow 0.15s, border-radius 0.15s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); 
}

.btn-submit:hover{
    border-radius: 20px;
}

.btn-submit:active{
    color: rgb(10, 54, 65);            
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2); 
}

.signup-description {
    font-size: 14.5px;
    font-family: Roboto Mono;
    color: rgba(10, 54, 65, 0.7);
    list-style-type: square;
    margin-left: 15px;
}
.container-signup {
    text-align: center;
}
.container-signup-email {
    display: flex;
    justify-content: center;            
}
.signup-email {
    background-color: rgba(227, 246, 245, 0.3);

    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;

    width: 70%;
    height: 34px;

    font-family: Roboto Mono;
    font-size: 15px;

    text-align: center;

    margin-top: 12px;
    transition: width 0.15s, box-shadow 0.15s;
}
.signup-email:focus {
    outline: none;

    font-size: 18px;

    width: 80%;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); 
}
.container-card {
    background-color: white;
    border-radius: 20px;

    display: grid;
    grid-template-rows: 1.3fr 1fr 1fr 1fr 0.5fr;

    width: 435px;
    height: 475px;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25); 
}
body {
    /* background-color: rgb(10, 54, 65); */
    /* background-color: #2ed36b1a; */
    /* background-color: white; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
    background-image: url('lol.jpg');
}
.header{
    font-family: Sedan;
    font-size: 40px;
}

.uni {
    color: rgb(121, 208, 121);
}

.link {
    color: rgb(0, 112, 37);
}

.footer{
    text-align: center;
    font-family: Roboto Mono;
}

.dot{
    color: green;
}

.contact, .privacy, .terms {
    color: black;
}

.slogan {
    margin-top: 20px;
    font-family: Roboto Mono;
    text-align: center;
}

.error-msg {
    font-family: Roboto Mono;
    font-size: 10px;
    color: red;
    background-color: rgb(255, 188, 188);
    display: inline-flex; /* Use flexbox for centering */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    border: solid 1.3px;
    border-color: red;
    border-radius: 10px;
    height: 40px;
    margin-top: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}