.comment-btn {
    transition: transform 0.3s ease;
}

.comment-btn-container {
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 6px;
}

.comment-btn:hover {
    transform: rotate(45deg);
}

.comment-btn:active {
    scale: 0.5;
}
